/* @override http://aluminium.local/~john/cfa2/gallery/gallery.css?20090601 */

#CFAcontent p, #CFAcontent ul {
    padding-left: 0;
}
#Addcommentdiv p, #Addcommentdiv ul {
    padding-left: 3em !important;
}
#Addcommentdiv input {
    padding: 2px 6px 3px;
    margin-right: 8px;
}

form {
 display:inline;
}

li.rss {
	background: url(graphics/feed-icon-14x14.png) no-repeat;
	padding-left: 20px;
}

a.letterref { 
    padding: 5px; 
    font: 12pt Courier, 'Courier New', monospace; 
}
a:link.letterref  {color: #fff; text-decoration: none; background-color: #888}
a:visited.letterref  {color: #fff; text-decoration: none; background-color: #888}
a:hover.letterref  {color: #000; text-decoration: none; background: transparent; }


form input {
    font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
    padding: 5px;
}

input[type=submit],
input[type=file] {
    font: 14px Verdana, Arial, Helvetica, sans-serif !important;
}
textarea, select, button {
    font-size: 14px;
}
fieldset {border:0; margin:0; padding:0;}

.tip {
    font:12px/14px Arial,Helvetica,sans-serif; 
    border:solid 1px #666666; width:270px; padding:1px;
    padding: 4px;
    position:absolute; z-index:100;
    visibility:hidden; color:#333333; top:20px;
    left:90px; background-color:#ffffcc;
}

.alertbox {
    border: solid 1px #990000;
    margin: 10px;
    padding: 10px;
}
                      
.vupload {  vertical-align: top; padding: 5px;}
.loginarea {
 padding:2px;
 margin:0px;
 font-size:9pt;
}
table.upload td {
	width: 40%;
	text-align: right;
	padding-right: 1em;
}

tr.lupload td {
	text-align: left;
}
table.upload td + td {
	width: auto;
	text-align: left;
}
.loginform td {
    padding:0 5px 0 0;
    border: 0;
    font-size: 9pt;
}
.small {
    font-size:10pt;
}
.thumb {
 border:1px solid #333333;
}
.sm_thumb {
 border:1px solid #333333;
}
.image {
 border:1px solid #333333;
}
.fullimagediv {
 width:90%;
 text-align:center;
}
.tiledimagediv {
 width:100%;
 min-width: 800px;
 height:800px;
 text-align:center;
}
.tiledthumbdiv {
 width:300px;
 height:300px;
}
.thumbtable {
 display:inline;
 width:800px;
 text-align:left;
 border:none;
}
.thumbtable td {
 padding:10px;
vertical-align: top;
}
table.sm_thumbtable {
 display:inline-block;
 width:275px;
 text-align:left;
 margin:10px;
}
table.med_thumbtable {
 display:inline-block;
 width:300px;
 height: 440px;
 text-align:left;
 margin:10px;
}
table.tagstable {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table.tagstable td,th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}
table.tagstable th.usernames {
    width: 160px;
}
table.tagstable th.dates {
    width: 200px;
}
.halfcell { width: 50%; vertical-align: top;
}
.commentcell { vertical-align: top; }
.goRight { float: right; margin: 0; }
.ccform { background-color: #eee; }
.thumbcell {
 width: 300px;
 vertical-align: top;
 text-align: right;
}
.sm_thumbcell { 
    width: 100px; 
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.med_thumbcell { 
    width: 300px; 
    height: 300px;
    text-align: center;
    vertical-align: bottom;
}
.sm_thumbinfo {
    padding-left: 5px;
}
.status_message {
 border:1px solid black;
 padding:10px;
}
.topborder {
 border-top:1px dotted #ccc;
 padding-top: 10px; 
}
.welcometable {
	padding-bottom: 10px;
}
.welcometable td{
	padding-left: 20px;
	padding-right: 20px;
}
.filediv {
 padding:10px;
 margin:5px;
 font-size:8pt;
 border:1px solid #5286ed;
 background-color:#fff;
}
.addcommenttext {
 width:100%;
 height:120px;
 font-size:12pt;
}
.addcommentdiv {
 padding: 5px;
    background-color:#dddddd;
    font-size:12pt;
}
.commentsdiv {
    font-size:12pt;
    background-color:#dddddd;
 padding:8pt;
 margin:5px;
 border:1px solid #999999;
}
.commentblock {
 margin: 3px;
 padding:4px;
}
.taghelp { font-size: 12pt; }
.notesdiv {
 padding: 5px;
    background-color:#c4d7ff;
    border-bottom:1px solid #aaccff;
    margin-bottom:15px;
}
div.ccInfo {margin: 4px 6px;}
div.ccInfo a.ccIcon {float:left; margin-right: 4px;}
.alert { color:#990000; font-weight:bold; }
.clearleft { clear: left; padding: 5px;}
textarea { width: 400px; height: 150px; padding: 5px;}

textarea.cfdg {
	width: 95%;
	height: 300px;
	font-family: monospace;
}

.disclaimer {
    text-align:center;
    margin:30px;
    color:gray
}
.rightcell {text-align: right; padding-left: 1em; padding-right: 1em;}
div.tabtable {
    width: 100%;
    height: 37px;
}
div.tabinter {
    background-repeat: no-repeat;
    width: 35px;
    height: 37px;
    float: left;
}
div.tabdata {
    height: 37px;
    width: auto;
    background-repeat: repeat-x;
    float: left;
    padding-top: 10px;
}
div.tabrest {
    height: 37px;
    background-repeat: repeat-x;
}
div.tabclear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
}
div.Empty {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPAAAAAAAHl5eSH5BAEAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAAAiiEj6nL7Q+jnLTai7PevPsPhuJIluaJpurKtu4Lx/JM12eA5/rO930BADs=");
}
div.Active {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPABAHl5ef///yH5BAAAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAAAiiEj6m74Q+jnLTai7PevPsPhuJIluaJpurKtu4Lx/JM1/aN5/rO928BADs=");
}
div.Inactive {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPAAAHl5eeHh4SH5BAAAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAAAiuEj6m74Q+jnLTai7PevPsPhuJIluaJpurKtu4Lx/JM1/aN5/rO98wPZBQAADs=");
}
div.E2A {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUAAAAAAHl5eXp6ent7e4CAgIGBgYKCgoODg4SEhIWFhYaGhoeHh4iIiImJiYqKiouLi4yMjI6Ojo+Pj5CQkJKSkpaWlpiYmJmZmZubm52dnaOjo6enp6ioqKmpqaysrLS0tLi4uLq6ury8vL29vcDAwMLCwsvLy83Nzdvb2+Xl5ejo6Ozs7O3t7e7u7vb29vf39/j4+Pz8/P39/f7+/v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAjACUAAAbAQIBwSCwaiyTNoyAIOAPHqHQkqZxWMJpWK+0SLQ/Udsz1djGVGJlslk5KsjW7fTy85HM6kSHC5/VCBSt+Y4BECISFhkIbiVuLAAsmjmWGBCyUNJCImZCNnYYNk6CABZikegmZlXocq5qADqOobaavhqq3gK66dBCztF4Gp6uAub1tHa+sXhHAwVLDy7BtCtPUXhIf13QHKtxmFxoz4F0ZEHflUSAJLdfMRR4BxOpDKSIJGi7vW09OAwcohPjGb0sQADs=");
}
div.E2I {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUAAAAAAHl5eXp6enx8fH19fX5+fn9/f4CAgIGBgYKCgoODg4eHh4iIiIqKiouLi4+Pj5GRkZKSkpSUlJaWlpmZmZubm6Ojo62tra6urrCwsLGxsbi4uLq6usXFxc/Pz9LS0tPT09TU1Nra2tvb297e3t/f3+Dg4OHh4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAABrBAgHBILBqLGcriIAg4A8eoFNN4cD6jk1Yr7RIhi852zPV2JQ8SmWyWMjSlNbt9RGTlY7pRccHP9UMFH355gEMIhIWGABWJW4sACBuOZYYFIJQnkIiZkI2dhpKZmpaYoIAJo6SAn6d0oqOlqoaps6yqq22wsXqXuKi4uWatvLqTv3S+yG21y2YWwcJSBB7RbQIRJtZmBiLR0kYDId/gQ02m31EOBRPe5CdP8fLz9PVOQQA7");
}
div.A2E {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUzAAAAAHl5eXp6ent7e4CAgIGBgYKCgoODg4SEhIWFhYaGhoeHh4iIiImJiYqKiouLi4yMjI2NjY+Pj5KSkpWVlZaWlpmZmZ2dnaOjo6ioqKmpqaqqqqysrLS0tLm5ubq6uru7u7y8vL29vcDAwMvLy8zMzM3Nzdvb2+Xl5ejo6Ozs7O3t7e7u7vb29vf39/j4+Pz8/P39/f7+/v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAjACUAAAbBwIBQKCg8MCOAcslsOpmzqPSlMlUkoqdWK+1KTw/Ldrz0mmGUC3lsNscy6vWzbXYd5HO6F9TAN/VeKwR+UIBdCIRlhlIZiUqLUiULjpBRLIOJlVGImZqNnZUkDKCQKwWkkJx+mlEaqIskDoSsM6aztAm3rK6rtCQQvawrBsGsuXi0URvFmiQRyMnD0MkK07QdEnLJUSl3a9szMhhiZOAzLhBxW+YzLAoebOwrARzr7DMtGAkhKE73Uik+TDgwYEiAIAA7");
}
div.I2E {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUAAAAAAHl5eXp6enx8fH19fX5+fn9/f4CAgIGBgYKCgoSEhIeHh4qKiouLi46Ojo+Pj5GRkZKSkpSUlJaWlpmZmZycnJ2dnaOjo6ysrK6urrCwsLi4uLm5ubq6usXFxc/Pz9LS0tPT09TU1Nra2tvb297e3t/f3+Dg4OHh4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAABrHAgFAoOCwoGoByyWw6maiolATqPBiZp1Yr7Uo9C8h2vPSaSw4JeWw2myzq9bNtJiHkc7oXo8A39V4hBX5QgF0JhGWGUhWJSotSHHeJkFEiBI6VUZOEmiiNlJobB6GVgqWVnHien6iQo52ep36sKKprtaCrrLC7soO+nrdsubS1vbi1s8m1w1y1KBfBnh8DctAoJxECzLUjBt21l2TYUiEB3M/lKCMTBQ1PQ/Lz9PX2QkEAOw==");
}
div.A2I {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPYAAAAAAHl5eXp6ent7e3x8fH19fX5+fn9/f4CAgIGBgYKCgoODg4SEhIWFhYaGhoeHh4iIiImJiYuLi4+Pj5KSkpOTk5WVlZaWlpeXl5iYmJmZmZqampubm56enqCgoKKioqOjo6Wlpaampqenp6ioqK6urq+vr7CwsLGxsbi4uLu7u7y8vL+/v8DAwMPDw8jIyMrKysvLy83NzdPT09TU1NfX19jY2Nvb29zc3N7e3uDg4OHh4ebm5uvr6+zs7O3t7fb29vf39/j4+Pz8/P39/f7+/v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAjACUAAAf+gAGCggIJEiAtAIqLjI0AJhoPBgKDAUaXmEI+MhcTK46OIRAVKjQ3O6iomKuYNxIZoIsUGC+ptqqsrEMWHLETHLfBublEJBuOFRY6wbfDuUELjgE4zM3OrCoNjAon1dbXmD8HjAU13rbgrAyMDefo6ZgijB/uqfCYMQqKBi31uPc/ECgicMrfPUzRADzw9++ePAAhGO44eCmfARcSKRoJOIAaQ41GFECQOFFjiIgZNcbwQBLkj3YpNTqYEZPiiBQ1D67MCRCmQZBGZn4EenMoSBgsf4L04cAoSKH1gF5CUUIpSB4NckSVWqRDVXdSLwGJgPNc2Es9FrAwe9ZIjwAZIbQyc1akyEEgHhickGHjW1sjAARQqhQgEAA7");
}
div.I2A {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPU+AAAAAHl5eXx8fH19fX5+fn9/f4CAgIGBgYKCgoODg4SEhIWFhYaGhoiIiIqKio2NjY6Ojo+Pj5iYmJubm5ycnJ2dnZ6enp+fn6CgoKOjo6SkpKWlpaenp6ysrK2trbGxsbOzs7W1tbi4uLu7u7y8vL29vcHBwcXFxcvLy8zMzM3Nzc7OztPT09TU1NbW1tjY2Nra2tvb293d3d7e3t/f3+Hh4eLi4uXl5e3t7fT09Pb29vr6+v39/f7+/v///wAAACH5BAEAAAAAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAABv7AgFAoSEQqgKRyyUx2JAzBUFirVmmvU8dAaXo7iFEsx/OZzdZ0FcYJeJeBkO5MR6vVpsMboHDV/3d3KQZeCDd/gIFqHgxMDySIiYpWMgNMBDuRdZNqE0wampucViKESQgooXSjViwESgU4qmesVnpJCbO0tTVdSRu6drWlAKjBPrw1rgCxx8k1ernOyRQBwNO8Igep2LUszd2sLAvHwsMc5cjJGNzhowuy5cksDOnq5/br7e6T8Pne9f6xEoFO4KgL+/jdkVFgjsFJIDLYM6foRQIbE+8pgtHgREaNCyF8+AgyjYoAJUiCnNGihAUGK4L1KINoSoABDjagoKkyCAA7");
}
div.I2IL {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUAAHl5eXp6en19fX5+foCAgIGBgYKCgoODg4SEhIeHh4iIiIqKio2NjY6Ojo+Pj5GRkZSUlJmZmZubm5ycnJ2dnZ6enp+fn6SkpKampqysrK2tra6urrCwsLGxsbe3t7i4uLm5ubq6ur+/v8XFxc3Nzc/Pz9LS0tPT09TU1NjY2Nra2tvb293d3d7e3t/f3+Dg4OHh4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADEAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAABtJAgHBYSEQ4saRyyYxlIovCUAirWlcmkGORaTYzCwfItLKaz9ZR4uFVPhYjtFzuckDaEIdrzj+7JndMCxx7fYZVKwVNBYWHhxkJSwUZjpUoA0sDJpWVikoFnJUTSxGhjiCeBSCmh5dJAyish6myhxFJE7WGqKq6fSYDmr59BaDDfBEOx3wgD8tzKMbPaAmb02cTHtdnILnbViYJ32bV41UTq+bd5jDh7DDl5hiU5iWM7BH04ysL2ubRItiZAIDBRSNHB/usiDCpRCwzUyJKnEgxYhAAOw==");
}
div.I2IR {
  background-image: url("data:image/gif;base64,R0lGODlhIwAlAPUAAHl5eXt7e3x8fH19fX5+fn9/f4CAgIGBgYKCgoODg4SEhIaGhoiIiI6Ojo+Pj5GRkZubm5ycnJ2dnZ6enp+fn6CgoKGhoaenp6ioqKysrK2trbGxsbOzs7e3t7i4uLm5ubu7u8HBwcXFxcvLy8zMzM3NzdPT09TU1NjY2Nra2tvb293d3d7e3t/f3+Hh4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAC8AIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACMAJQAABtVAgFAoSDgir6RyyUxWHonh0EWltlCiTALZbEYSGhGqVS2bqagLoLsEZFDneDyUYL8SIbJ8Xx7VmwkkfINlGgtMCxmEiy4tAkwCeox8LRBMEZOLH393H5mEJo9JAiefhJwJpoRcLxCqg5t3Ha98J48CJrR8dam6exAArr5yHQmzw3GhuchnJr3MZh2Y0GYRntRlC8vYLifP3B/T3C7W41QJ29gmC+Yu4e3l4y0JcOMb4tgoCSPjKAzH2Fo4yCAJGgkAG7Cd+ABhwTVCV+RImUixosWJQQAAOw==");
}
.khomut {
    width: 100px;
    margin: 10px auto;
}
div#favelist {
    display: inline-block;
    margin-left: 10px;
}
div#taglist {
    position: absolute;
}
div#taglist > select {
    width: 12em;
    border: 3px solid #b1d2f5;
    margin: 3px;
}
option.tagoption:hover {
    background: #dddddd;
}
div.minicfdg {
    max-height: 1000px;
    overflow: auto;
}

div.buttondiv {
    position: relative;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  position: absolute;
  bottom: 0px;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #999;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
