/* @override http://aluminium.local/~john/cfa2/gallery/gallery.css?20090601 */

#CFAcontent p, #CFAcontent ul {
    padding-left: 0;
}
#Addcommentdiv p, #Addcommentdiv ul {
    padding-left: 3em !important;
}
#Addcommentdiv input {
    padding: 2px 6px 3px;
    margin-right: 8px;
}

form {
 display:inline;
}

li.rss {
	background: url(graphics/feed-icon-14x14.png) no-repeat;
	padding-left: 20px;
}

a.letterref { 
    padding: 5px; 
    font: 12pt Courier, 'Courier New', monospace; 
}
a:link.letterref  {color: #fff; text-decoration: none; background-color: #888}
a:visited.letterref  {color: #fff; text-decoration: none; background-color: #888}
a:hover.letterref  {color: #000; text-decoration: none; background: transparent; }


form input {
    font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
    padding: 5px;
}

input[type=submit],
input[type=file] {
    font: 14px Verdana, Arial, Helvetica, sans-serif !important;
}
textarea, select, button {
    font-size: 14px;
}
fieldset {border:0; margin:0; padding:0;}

.tip {
    font:12px/14px Arial,Helvetica,sans-serif; 
    border:solid 1px #666666; width:270px; padding:1px;
    padding: 4px;
    position:absolute; z-index:100;
    visibility:hidden; color:#333333; top:20px;
    left:90px; background-color:#ffffcc;
}

.alertbox {
    border: solid 1px #990000;
    margin: 10px;
    padding: 10px;
}
                      
.vupload {  vertical-align: top; padding: 5px;}
.loginarea {
 padding:2px;
 margin:0px;
 font-size:9pt;
}
table.upload td {
	width: 40%;
	text-align: right;
	padding-right: 1em;
}

tr.lupload td {
	text-align: left;
}
table.upload td + td {
	width: auto;
	text-align: left;
}
.loginform td {
    padding:0 5px 0 0;
    border: 0;
    font-size: 9pt;
}
.small {
    font-size:10pt;
}
.thumb {
 border:1px solid #333333;
}
.sm_thumb {
 border:1px solid #333333;
}
.image {
 border:1px solid #333333;
}
.fullimagediv {
 width:90%;
 text-align:center;
}
.tiledimagediv {
 width:100%;
 min-width: 800px;
 height:800px;
 text-align:center;
}
.tiledthumbdiv {
 width:300px;
 height:300px;
}
.thumbtable {
 display:inline;
 width:800px;
 text-align:left;
 border:none;
}
.thumbtable td {
 padding:10px;
vertical-align: top;
}
table.sm_thumbtable {
 display:inline-block;
 width:275px;
 text-align:left;
 margin:10px;
}
table.med_thumbtable {
 display:inline-block;
 width:300px;
 height: 440px;
 text-align:left;
 margin:10px;
}
table.tagstable {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table.tagstable td,th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}
table.tagstable th.usernames {
    width: 160px;
}
table.tagstable th.dates {
    width: 200px;
}
.halfcell { width: 50%; vertical-align: top;
}
.commentcell { vertical-align: top; }
.goRight { float: right; margin: 0; }
.ccform { background-color: #eee; }
.thumbcell {
 width: 300px;
 vertical-align: top;
 text-align: right;
}
.sm_thumbcell { 
    width: 100px; 
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.med_thumbcell { 
    width: 300px; 
    height: 300px;
    text-align: center;
    vertical-align: bottom;
}
.sm_thumbinfo {
    padding-left: 5px;
}
.status_message {
 border:1px solid black;
 padding:10px;
}
.topborder {
 border-top:1px dotted #ccc;
 padding-top: 10px; 
}
.welcometable {
	padding-bottom: 10px;
}
.welcometable td{
	padding-left: 20px;
	padding-right: 20px;
}
.filediv {
 padding:10px;
 margin:5px;
 font-size:8pt;
 border:1px solid #5286ed;
 background-color:#fff;
}
.addcommenttext {
 width:100%;
 height:120px;
 font-size:12pt;
}
.addcommentdiv {
 padding: 5px;
    background-color:#dddddd;
    font-size:12pt;
}
.commentsdiv {
    font-size:12pt;
    background-color:#dddddd;
 padding:8pt;
 margin:5px;
 border:1px solid #999999;
}
.commentblock {
 margin: 3px;
 padding:4px;
}
.taghelp { font-size: 12pt; }
.notesdiv {
 padding: 5px;
    background-color:#c4d7ff;
    border-bottom:1px solid #aaccff;
    margin-bottom:15px;
}
div.ccInfo {margin: 4px 6px;}
div.ccInfo a.ccIcon {float:left; margin-right: 4px;}
.alert { color:#990000; font-weight:bold; }
.clearleft { clear: left; padding: 5px;}
textarea { width: 400px; height: 150px; padding: 5px;}

textarea.cfdg {
	width: 95%;
	height: 300px;
	font-family: monospace;
}

.disclaimer {
    text-align:center;
    margin:30px;
    color:gray
}
.rightcell {text-align: right; padding-left: 1em; padding-right: 1em;}
div.tabtable {
    width: 100%;
    height: 37px;
    display: flex;
}
div.tabinter {
    background-repeat: no-repeat;
    width: 35px;
    height: 37px;
    flex: none;
}
div.tabdata {
    height: 37px;
    width: auto;
    background-repeat: repeat-x;
    padding-top: 10px;
    flex: none;
}
div.tabrest {
    height: 37px;
    background-repeat: repeat-x;
    flex-grow: 1;
}
div.Empty {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPABAHl5eQAAACH5BAkAAAEALAAAAAAkACUAAAIpjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNd2BuT6zvf+XwAAOw==");
}
div.Active {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPABAHl5eQAAACH5BAkAAAEALAAAAAAkACUAAAIphI+py+EPo5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvd+WAAAOw==");
}
div.Inactive {
  background-image: url("data:image/gif;base64,R0lGODdhJAAlAKIAAAAAAHl5eeHh4f///wAAAAAAAAAAAAAAACH5BAkAAAQALAAAAAAkACUAAAMtGLrc/lDISau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//A4AxCLBITADs=");
}
div.E2A {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPQQAHl5eYaGhouLi5SUlJ6enqOjo6mpqbKysru7u8HBwcrKytPT09ra2ubm5uzs7PX19QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAkACUAAAWFICSOZGmWiyEEQOuecKwIg+I8cZ4TAqP/scIASDQZEsWkyBHAKYsHxDMpcEyJzCtRYdACDQrvL2AVx7JmWTcNA7Nh5LcJLSdx6yU3fhTfQ+h7d34Qen59e4B4gn6Fe4d4iXUIB4MQAQ2DCAWDM054C49yBwBlbw8NCAEFnlouLgEDCJhpIQA7");
}
div.E2I {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPMPAHl5eYWFhY2NjZ2dnaampqqqqrGxsbm5ucTExMrKytLS0tvb2+Hh4ezs7PPz8wAAACH5BAkAAA8ALAAAAAAkACUAAASk8MlJq62JBMA7uGCICMKhLEyqhiw1BIgqry07COg812Fh5DoZ79IIAIO0IcVQQOqUlYDCuYNKitSqNTHICq0PwsGbhErJKTAWzQBz2W2rGA4+s63rO/RNh877SnZ6Q3mDPHyAPH+JNYKGLYWPLIiMLIuVIY6SIJGbFwcEcF+NCaJlIQddpmktCTirrCEKmqIsBgBTsLETDgwHAQNHsB7ExcbHxREAOw==");
}
div.A2E {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPMPAHl5eYaGhouLi5OTk5+fn6SkpKmpqbOzs7u7u8rKytPT09ra2ubm5uzs7PX19QAAACH5BAkAAA8ALAAAAAAkACUAAAR8EMgZhFEv6827306TDELynai3CETqukPxzl+B0LjmBE2eIwcfrhEQ4gQ948tgUroSBqeLKHXxqigm9gTdfqhezzXM0ZI33bMGrM6M2+Z2us1uv9Vx9VxdV9/PBzdtDwxFgw82hw4lh0QYgw0AQYMOBQEIDA5tDAgDARMTEQA7");
}
div.I2E {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPMPAHl5eYWFhYyMjJ2dnaWlpaurq7Kysrm5ucTExMrKytLS0tvb2+Hh4ezs7PPz8wAAACH5BAkAAA8ALAAAAAAkACUAAAShEMgJAkkv6807Z2C4KIcgIF6qhmyIBIMqb229CPEs1/Zw6CteaxFoAD3CWsFw7CRbikDz82QVp5oq64LNaEMHQvfxBUXHZdAVm2Zw2elwt32Gp9fNNmOAmerlfnRSgW14QHp7fUeIgIt6dY56hjOIiXmMYpGCl4iTQYgEP4eVCYM6lSA+o5U3ip+VUQqUqGYATK+oCwMBBwwOHRTBwsPEwhEAOw==");
}
div.A2I {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPQQAHp6eoWFhYuLi5SUlJycnKWlpaqqqrOzs7u7u8PDw8vLy9PT09zc3OHh4evr6/b29gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAkACUAAAXgICCOgWAsUKquLJQQwSi3j6MMgtK2SDAgC0ZjSNypGAKCMUUYKIjQ4jI1KBgJhKi2MVUVEK3DQLiFdlOPgGPVAJDL0jPisDIc4NFzyhFYBRZ4ZnoQAmsQDQKBgnoGOi4FinFnCgZMCJFDgxB8KW6YXJpqiJ+gg40IBqSaEJQECaqafJ6fqxAlpKWDBamwmgpZvYN8uLW2gLS1X8GDv8t6w8i1f9GrypjFrJDXxdCR2MbbxQe8it8NAW943xAE5OrfDwKXgeubAfNw9ZsABel5+g8KBGjkL1e9BggGxJABIAQAOw==");
}
div.I2A {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPQAAHp6eoSEhIuLi5OTk56enqampqurq7Ozs7q6usPDw8vLy9PT09vb2+Hh4ezs7PPz8wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEKABAALAAAAAAkACUAAAXkICCOwWA4UKqu7HMQwSg3NM0wiQEUKNsaAQTj4YPUjrYCoFFMOQAHYtOIRCYCjGIjsJiqqlVFgLnakr1U8NFQYBkQ6K/6yABIIY9AXD6vERQqCm17aX0NCIMQBoCEhjULeikBPXuONZMQDpGNlg1/EAoGhCmdh22Lo4WGkBCYo6VbDJucnQQGoqmwCAKMr6ULAJS0lqypqoaIxsd9n8awrrmdxc6dycqlzdSW0NGO09rIieDMveNqdXfmYAfi6kiyZ9d9DAIJymVz9Af3+GAKAHD48bGxAAGMcgJliBBQAKFACCEAADs=");
}
div.I2IL {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPMOAHl5eYSEhIyMjJGRkZ2dnaSkpKurq7Ozs7m5ucTExMrKytLS0uHh4evr6wAAAAAAACH5BAkAAA4ALAAAAAAkACUAAASsEMgJQlEu682dKgE1MWTJLIggJF2XqMhizjSZBESrEUFS/zVBrkUQAI80AqJjOCCfpkBj0whAr4zm5mDAQheBTUDmfUoz1TL0klEQ1E9EIVNAwJHgzPiOlKb5RxdugEdydYRAYHuIPwFWjD8EA5A/CJOUNGCYNYubJUqeJghvoSSapSSdoaCoo6gnj6iqngVdqAqxpQS2qAJOqGB2wAAFrww8Bgo1IszNzs8AEQA7");
}
div.I2IR {
  background-image: url("data:image/gif;base64,R0lGODlhJAAlAPMAAHp6eoODg4uLi5OTk52dnaampqysrLOzs7m5ucLCwsvLy9LS0tvb2+Hh4fX19QAAACH5BAEKAA8ALAAAAAAkACUAAATAEMgJwjDt6c17M0NASU1pMkxiAEXWeQVgJKhp32fsvk/DMrigMBFg8BiBhHAZVAR2mkZAwazeDIVOAWPtNhgAx8YBAHq7BMVGQTh7EVlNAeHuLgKbwKLeffaefFYFamyBVnAPc4ZVdw96i1VFgJBLBAZtlEsIAnSZQgsAe55Bd6NCCJimNwSdqjaPrialsSaotCastyWwtLO3trq5t2BmtAepsUhUtAwCB8MCLbQKAM+qDAuoAa1VNUEj4OHi4wARADs=");
}
.khomut {
    width: 100px;
    margin: 10px auto;
}
div#favelist {
    display: inline-block;
    margin-left: 10px;
}
div#taglist {
    position: absolute;
}
div#taglist > select {
    width: 12em;
    border: 3px solid #b1d2f5;
    margin: 3px;
}
option.tagoption:hover {
    background: #dddddd;
}
div.minicfdg {
    max-height: 1000px;
    overflow: auto;
}

div.buttondiv {
    position: relative;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  position: absolute;
  bottom: 0px;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close {cursor: pointer;}
.popup .close:hover {
  color: #999;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
